@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora&family=Montserrat:wght@100&family=Nunito:wght@200&display=swap');
body {
    background-image: url('imagenes/background.png');
    overflow-x:hidden;
    background: cover !important;
    
}
.container-fluid {
    background-color: orange;
}
.nav-link {
    color: firebrick !important;
    font-family: 'Anton', sans-serif;
}
body nav :hover {
    size: 100px;
    
}
.navbar-brand {
    color: firebrick !important;
    font-family: 'Anton', sans-serif;
    padding: 5px 25px;
}
#navbarNavAltMarkup {
    padding: 0px 250px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 125px;
}
.text-center {
    font-size:100px;
    font-family: 'Anton', sans-serif;
    color: orange;
    margin-top:50px;
    
}
#sponsor {
    margin-top:100px !important;
    margin-left: 810px !important;
    width: 200px;
}
/** #boton {
    margin-left: 835px;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    color: firebrick;
    background-color: orange;
    transition: 2s;
    border: black;
}

#boton:hover {
    background-color:firebrick;
    color: orange;
    height: 100px;
    width: 500px;
    margin-left: 650px;
    border: solid; 
}
**/
/*footer*/
footer nav div {
    margin: 0px;
    cursor: pointer;
    bottom: 0px;
    position: fixed; 
}
footer ul a {
    list-style: none;
    display: inline !important;
}
#iconos {
    padding: 10px 20px;
    margin-left: 200px;
}

 .btn {
     width : 100%;
     background-color:orange;
 }   
 button {
     background-color:orange !important;
     color: firebrick !important;
 }
 .btn-danger :hover {
     background-color:firebrick !important;
 }
 .rounded {
     max-height: 300px;
 }


/*menu*/
.container {
    margin-top:50px
}
.btn {
    background-color:firebrick;
    border: orange;
    font-family: 'Anton', sans-serif;
    color: black;
}
.card {
    background-color:yellow;
    font-family: 'Anton', sans-serif;
}
/*contacto*/
form div {
    font-family: 'Anton', sans-serif;

}
form {
    background-color:orange !important;
    margin-top:250px
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
}
/*prueba de ubicacion*/
.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*nosotros*/
.img-fluid {
    width: 100%
} 








